.field_row 
{
	margin: 0 0 10px 0;
	width: 100%;
}

.field_row label 
{
	float:left;
	width:100px;
	text-align:left;
	line-height:2.3;
}

.field_row label.wide 
{
	width:150px;
}

label.required
{
	color:red;
}
 
.form_field
{
 	float:left;
 	padding: 3px;
}
.form_field input, .form_field textarea 
{
 	border: 1px solid #ccc;
 	padding: 4px;
}
.submit_button:hover 
{
	background-color: #F8F8F8;		
	border: 1px solid #C6C6C6;
	box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
	color: #7d7d7d;
}
.submit_button 
{
	padding: 5px;
	padding:4px 18px;
	background-color: #F5F5F5;
        border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px 2px 2px 2px;
	color: #7d7d7d;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	line-height: 23px;
	text-align: center;
	width: 70px;
}

.delete_button 
{
	padding: 5px;
	color: #fff;
	background-color: #ea4729;
	border: 2px solid #ddd;
}
.small_button
{
	position:relative;
	width:95px;
	height:30px;
	background-image: url(../images/small_action_button.jpg);
	background-repeat:no-repeat;
	cursor:pointer;
}

.small_button span
{
	position:absolute;
	width:100%;
	top:30%;
	left:0%;
	color:#FFF;
	font-size:11px;
	font-weight:bold;
	text-align:center;
}

.float_left
{
	float:left;
}

.float_right
{
	float:right;
}

.big_button
{
	position:relative;
	width:119px;
	height:45px;
	background-image: url(../images/big_action_button.jpg);
	background-repeat:no-repeat;
	cursor:pointer;
}

.big_button span
{
	position:absolute;
	width:100%;
	top:35%;
	color:#FFF;
	font-size:10px;
	font-weight:bold;
	text-align:center;
}


.warning_message
{
	text-align:center;
	background-color:#fffcdd;
	border:1px solid #fff4aa;
	font-weight:bold;
}

.error_message
{
	text-align:center;
	background-color:#f68383;
	border:1px solid #da3232;
	font-weight:bold;
}

.warning_mesage
{
	text-align:center;
	background-color:#FBEC5D;
	border:1px solid #da3232;
	font-weight:bold;
	padding:7px;
	margin-bottom:11px;
	margin-top:12px;
}

.success_message
{
	text-align:center;
	background-color:#e1ffdd;
	border:1px solid #2ca71c;
	font-weight:bold;
}

input
{
	font-family:arial;
	padding: 3px;
}

.clearfix:after 
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix {	display: block; }
* html .clearfix { height: 1%; }