body
{
	text-align:center;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}
#container
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:120px;
	width:360px;

}
#submit_button input {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    text-align: center;
    width: 70px;
}
.#submit_button input:hover {
    background-color: #F8F8F8;
    border: 1px solid #C6C6C6;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
    color: #333333;
}
#top {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    border-top: 1px solid #C6C6C6;
    box-shadow: 0 0 18px #CCCCCC;
    color: #21759B;
    font-family: Verdana;
    font-size: 11pt;
    font-weight: bold;
    height: 31px;
    padding-left: 11px;
    padding-top: 13px;
    position: relative;
    text-align: left;
    width: 98%;
    }

#login_form
{
	position:relative;
	width:100%;
	height:230px;
	padding:2px;	
	font-family:Verdana;
	color:#666666;
	font-size:10pt;
	background-color:#fff;
	border: 1px solid #CCCCCC;
    	box-shadow: 0 0 18px #CCCCCC;
}

#welcome_message
{
	text-align:center;
	margin-bottom:20px;
	margin-top: 10px;
	margin-left:12px;
    	text-align: left;
}

.error
{
	margin:0 auto;
	border:3px solid #d3153b;
	background-color:#fbe6f2;
	padding:5px;
	width:80%;
	text-align:center;
	font-size:18px;
	margin-bottom:20px;
	
}

.form_field_label
{
	float:left;
	margin-left:20px;
	width:30%;
	font-size:13px;
	font-weight:bold;
	margin-right:12px;
	margin-top:6px;
}

.form_field
{
	float:left;
	width:30%;
	margin-top:6px;
	margin-right:12px;
}

#submit_button
{
	position:absolute;
	bottom:60px;
	right:60px;
}

input
{
	font-family:Arial;
}