#menubar
{
	position:relative;
	margin:0px;
	padding:0px;
	background-image: url("../images/menubar/menubar_bg.gif"); 
	background-repeat: repeat-x;
	width:100%;
	height:200px;
	color:#FFFFFF;
	text-align:left;
	text-align:center;
}

#menubar_container
{
	position:relative;
	margin:0 auto;
	/*width:900px;*/
	width:100%;
	text-align:left;
	height: 160px;
}

.menu_item
{
	float:left;
	width:65px;
	text-align:center;	
	margin-top:12px;
	font-size:8pt;

}


#menubar a:link, #menubar a:visited, #menubar a
{
	color:#FFFFFF;
	text-decoration:none;
}

#menubar a:hover
{
	color:#CCCCCC;
	text-decoration:underline;	
}


#menubar_company_info
{
	width:15%;
	height:160px;
	float: left;
	text-align: center;
}

#company_title
{
	font-size:14pt;
	font-weight:bold;
}
.company_title_div{
	margin-top: 70px;
}

#menubar_navigation
{
	/*position:relative;*/
	width:85%;
	/*left:159px;*/
	/*top:10px;*/
	height:160px;
	float: right;
}

#menubar_footer
{
	/*position:absolute;
	top:169px;
	right:0px;
	height:17%;
	padding-top:3px;
	font-size:8pt;
	font-weight:bold;
	color:#d8d8d8;*/

    color: #d8d8d8;
    width: 100%;
    height: 35px;
    margin-top: 5px;
}

#menubar_date
{
/*	position:absolute;
	top:169px;
	left:0px;
	height:17%;
	padding-top:3px;
	font-size:8pt;
	font-weight:bold;
	color:#d8d8d8;*/

	font-size: 8pt;
    font-weight: bold;
    color: #d8d8d8;
    float: left;
    width: 50%;
    margin-top: 5px;
}
#menubar_welcome{
	font-size: 8pt;
    font-weight: bold;
    color: #d8d8d8;
    float: right;
    width: 50%;
    margin-top: 5px;
}