@import url(autocomplete.css);
@import url(menubar.css);
@import url(general.css);
@import url(popupbox.css);
@import url(receipt.css);
@import url(reports.css);
@import url(tables.css);
@import url(thickbox.css);
@import url(datepicker.css);
@import url(editsale.css);

body
{
	margin:0px;
	padding:0px;
	background-color:#f7f7f7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color:#7d7d7d;
}
a.none
{
	text-decoration:none;
}


#content_area_wrapper
{
	position:relative;
	width:100%;
	background-color:#FFFFFF;	
	margin:0px;
	padding:0px;
	border-bottom:1px solid #CCCCCC;
	text-align:center;	
	min-height: 69%;

}

#content_area
{
	position:relative;
	margin:0 auto;
	width:90% !important;
	text-align:left;
	padding-bottom: 60px;
	min-height: 800px;	
}

#title_bar
{
	position:relative;
	margin-top:10px;
	margin-bottom:10px;
	width:100%;
	height:50px;
}

#title
{
	position:absolute;
	bottom:0px;
	left:0px;
	font-weight:bold;
	color: #7D7D7D;
    	font-family: "Trebuchet MS","Verdana";
	font-size: 18px;
    	padding-bottom: 10px;
}	

#page_title
{
	margin-top:8px;
	color:#7D7D7D;
	text-align:left;
	font-family: "Trebuchet MS","Verdana";
        font-size: 18px;
        font-weight: bold;
        padding-top: 25px;
}

#page_subtitle
{
	margin-top:45px;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	color: #21759B;
	font-family: "Trebuchet MS","Verdana";
}

#new_button
{
	position:absolute;
	bottom:-5px;
	right:0px;
}

#spinner
{
	position:absolute;
	display:none;
	right:21%;
	top:5px;
}

#feedback_bar
{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:55px;	
	position:fixed;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index:1;
	line-height:3.3;
	display: none;
}

#home_module_list
{
	position: relative;
	width: 50%;
}
.module_item img{
padding-bottom: 7px;
    padding-left: 22px;
    padding-top: 12px;
}
.module_item:hover{
box-shadow: 2px 3px 5px #CCCCCC; 
}
.module_item
{
	float:left; 
	width:114px; 
	background: none repeat scroll 0 0 #FFFFFF;
    	border-left: 1px solid #C6C6C6;  
    	border-right: 1px solid #C6C6C6; 
    	border-top: 1px solid #C6C6C6;
	box-shadow: 1px 2px 3px #CCCCCC; 
	font-family: Verdana; 
	font-size: 10pt; 
	position: relative; 
	text-align: left; 
	margin:9px;
	border-radius:3px;
}

#config_wrapper
{
	text-align:center;
}

#config_info
{
	width:100%;
	margin:0 auto;
	padding:10px;
	margin-bottom:30px;
	margin-top:10px;
	text-align:left;
	border:solid 1px #ccc;
}

#footer
{
	position:relative;
	/*padding-top:25px;*/
	/*margin-bottom:15px;	*/
	text-align:center;
	font-size:11px;
	color:#777777;
	clear:both;
	
}
.hide{
	display: none;
}