#register_wrapper
{
	float:left;
	width:100%;
	font-family:Arial;
	font-size:13px;
	margin-right:1%;
}
#mode_form
{
	position:relative;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	color: #7D7D7D;
	padding: 8px 14px;
}

/*#show_quoted_sales_button
{
	position:absolute;
	top:3px;
	right:110px;	
}
#show_suspended_sales_button
{
	position:absolute;
	top:3px;
	right:4px;	
}
*/
#mode_form span
{
	font-weight:bold;
}

#add_item_form
{
	position:relative;
	background-color:none;
	width:100%;
	padding: 8px 0px 8px 0px;
	margin-top:30px;
	
}

#new_item_button_register
{
	position:absolute;
	top:3px;
	right:4px;
}

#add_item_form input
{
 	border: 1px solid #ccc;
 	padding: 2px;
 	
}

#item_label,#customer_label
{
	font-weight:bold;
}

#add_item_form label
{
	margin: 0px 5px 0px 5px;
}

#register
{
	position:relative;
	width:100%;
	padding:0px;
	border-collapse:collapse;
	border:solid 1px #ccc;	
}

#register th
{	
	padding:3px;
	text-align:center;
	color:#21759B;
	/*text-align: left;*/
	background-color:#EEE;
	border-bottom: solid 1px #CCC;
	height: auto;
}

#register td
{
	background-color:#EEEEEE;
	padding:2px;
	text-align:center;
}

#overall_sale
{
	float:left;
	margin-left:0px;
	width:21%;
	padding:16px;
	font-family:Arial;
	font-size:13px;
	background-color: #EEEEEE;

    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
	
}

#sale_details
{
	position:relative;
	width:100%;
	margin-top:5px;
	/*border-top:1px solid #ccc;*/
}

#finish_sale
{
	position:relative;
}

#Payment_Types
{
	float:left;
	width:100%;
	margin-top:5px;
	border-top:1px solid #ccc;
	background-color:#eee;
	margin-bottom:0px;
	clear:both;
}

#Cancel_sale
{
	float:left;
	/*width:100%;*/
	/*margin-top:5px;*/
	margin-top: -35px;
	clear:both;
}
#suspended_sales_table th
{
	text-align:center;
}

#suspended_sales_table td
{
	padding: 7px;
}

#credit_card_form fieldset 
{
	overflow: auto;
	border: 0;
	margin: 0;
	padding: 0; 
}

#credit_card_form fieldset div 
{
	float: left; 
}

#credit_card_form fieldset.centered div 
{
	text-align: center; 
}

#credit_card_form label 
{
	display: block;
	margin-bottom: 5px; 
}

#credit_card_form input.text 
{
	border: 1px solid #bfbab4;
	margin: 0 4px 8px 0;
}
#action_bar{
	background: rgb(238, 238, 238) none repeat scroll 0% 0%;
	vertical-align: middle;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	margin: 1% 0;
	padding: 1%;
	padding-right: 0.3%;
	height: 25px;

}
/*LOADING*/
.loading_box {
		display: none;
		position: fixed;
		z-index: 99999999999;
		top: 50%;
		left: 46%;
		height: 60px;
		width: 170px;
		background: rgba( 255, 255, 255,255 ) url("../assets/loading/balls.gif") 50% 50% no-repeat;
		border-radius: 10px;
		background-size: 30px;
		box-shadow: 0px 0px 3px #21759B;
}
body.loading {
	overflow: hidden;   
}
body.loading .loading_box {
	display: block;
}
.top_option_right{
	width: 50%;
	float: right;
}
.top_option_left{
	width: 50%;
	float: left;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.sale_menu{
	margin:0 5px;
}