a {
    -moz-user-select: none;
    color: #21759B;
    text-decoration: none;
}
#table_action_header
{
	position:relative;
	width:99%;
	background-color:#EEEEEE;
	background-image:url(../images/checkbox_arrow.gif);
	height:30px;
	border:1px solid #CCCCCC;	
	background-position:11px 15px;
	background-repeat:no-repeat;	
	padding:8px 3px 1px 4px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#table_action_header ul
{
	list-style:none;
	padding:0px;
	margin: 0px 1px 5px 28px;
}

#table_action_header ul li
{
	margin-left:8px;
	margin-right:4px;
	
}

#table_action_header ul li span
{
 	 padding:6px 18px;
	 background-color: #F5F5F5;
         border: 1px solid rgba(0, 0, 0, 0.1);
	 border-radius: 2px 2px 2px 2px;
	 color: #7d7d7d;
	 cursor: pointer;
	 font-size: 11px;
	 font-weight: bold;
	 height: 29px;
	 line-height: 23px;
	 text-align: center;
	 width: 70px;
}

#table_action_header ul li span:hover{
	background-color: #F8F8F8;		
	border: 1px solid #C6C6C6;
	box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
	color: #7d7d7d;
}

#table_action_header a
{
	text-decoration:none;
	color:#7d7d7d;	
	font-size:10px;
}

#table_holder
{
	position:relative;
	margin-bottom:50px;
	margin-top: 18px;
	-moz-border-radius: 5px 5px 5px 5px;
}

table.tablesorter 
{
	position:relative;
	width:100%;
	border-top:3px solid #0a6184;
	border-collapse:collapse;
	border: 1px solid #CCCCCC;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th 
{
	color:#21759B;
	text-align:left;
	background-color:#eeeeee;
	padding: 11px 0 9px 14px;
	border-bottom:solid 1px #ccc;
	height:auto;
}

table.tablesorter thead tr .header 
{
	background-image: url(../images/tables/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td 
{
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
	padding: 6px 14px;
	height:25px;
	
}

table.tablesorter tbody td 
{
	border-bottom:1px solid #DDDDDD;
}

table.tablesorter tbody td.over
{
	background-color:#e9e9e9;
}

table.tablesorter tbody td.selected
{
	background-color:#BBBBBB;
}

table.tablesorter thead tr .headerSortUp 
{
	background-image: url(../images/tables/asc.gif);
}

table.tablesorter thead tr .headerSortDown 
{
	background-image: url(../images/tables/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp 
{
	background-color: #cccccc;
}

table.innertable
{
	display: none;
}

table.innertable thead tr th 
{
    background-color: #EEEEEE;
    color: #21759B;
    height: auto;
}

table.innertable tbody tr td 
{
	background-color: #DDD;
}