
html, 
body {
    height: 100% !important;
}
#body{
	margin:5px auto !important;
}
.div_border{border:1px solid #CCCCCC;}
.bodys{
	float: none !important;
	margin: 0 auto !important;
}
#imglogo,#topimg,#imgmenu,#imgslide,#imgleft,#imgright,#imgcontent,#imgfooter{
	width: 100%;
}
/*body{background-color: #CCCCCC;}*/
.body{background-color: white !important; padding: 0px ;}
#logo,#top,#slide,#leftside,#rightside,#content,#footer{
	padding: 5px ;
}
.brand{
	font-weight: bold;
	color: #8E97A0;
	 
}
#gallery li{
	list-style: none;
	float: left;
	margin: 10px;
}
#gallery{
	padding: 0px;
}
.listleft{
	padding: 8px;
	/*border: 1px solid #CCCCCC;*/
	max-height: 250px;
	overflow-y:auto; 
}
.listleft li{
	list-style: none;
	font-size: 12px;
}
.s_title{
	font-size: 16px;
	color: blue !important;
	border-bottom: 2px solid #1071B9; 
}
.owl-item{
	padding: 10px;
}
.promo{
	margin-top: -10px;
	float: right;
	/*margin-left: -10px;*/
	height: 50px;
	width: 50px;
	margin-bottom: -40px;
	z-index: 999;
	position: relative;
}
.viewall{
	width: 100px;
	float: right;
	/*font-size: 16px;*/
}
.viewall a{
	/*width: 150px;*/
	/*float: right;*/
	font-size: 18px;
	font-weight: bold;
}
/*.prev{
	position: absolute;
	top: 120px;
	left: 0px;
}
.next{
	position: absolute;
	top: 120px;
	right: 0px;
}*/
#header_wrap{
	width: 100%;
	background-color: white;
}
#searchbox{
	width: 100%;
	/*padding: px;*/
	margin-top: 10px;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
}
.listproduct>li{
	list-style: none;
	border:1px solid #CCCCCC;
	border-bottom: none;
	padding: 5px;
}
.listproduct>li:last-child{
	border-bottom:1px solid #CCCCCC;

}
.carimg{
	width: 170px;
	float: left;
}
.listfeat li{
	width: 45%;
	float: left;
	list-style: none;
	padding: 5px;
}
.listfeat{
	padding: 0px;
}
.listdetail{
	width: 500px;
	float: right;
	text-align: left;
}
.listdetail>a{
	font-weight: bold;
}
.listproduct{
	padding: 0px;
}
#searchbox select{
	border: none;padding: 5px;
	font-size: 16px;
	width: 150px;
}
/*#searchinp{
	width: 87%;
	font-size: 18px;
	padding:7px;
	border: none;


}*/
/*#btnsearchs{
	padding: 9px;
	font-size: 16px;
	background-color: blue;
	border: none;
	color: white;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	width: 80px;
}*/
#topbar a{
	/*width: 50px;*/
	padding: 5px 10px;
}
#header-inner{
	width: 1000px;
	margin: auto;
}
#menu-inner{
	width: 1000px;
	margin: auto;
}
#footer{
	/*width: 100%;*/
	border-top:5px blue solid;
	/*margin-top: 10px; */
}
#footer-inner{
	width: 1000px;
	margin: auto;
}
.about-desc p{
	color: #8E97A0;
	font-size: 12px;
}
.my_title{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	/*background-color: #262626 !important;*/
	padding: 7px 8px !important;
}
.first-word{
	font-size: 22px;
	color: #1A3046;
	font-weight: bold;
}
#footer>div{
	padding: 5px 20px !important;
}
.second-word{
	font-size: 22px;
	color: #29394E;
	/*font-weight: bold;*/
}
.p_imgs{
	width: 72px;
	float: right;
}
.day{
	font-size: 12px;
	color: #29394E;
}
.time{
	float: right;
	font-size: 12px;
	color: #29394E;
}
.head-title{
	margin: 15px 0px;
}
.hour{
	padding-left: 5px;
}
.adr-info{
	font-weight: bold;
	color: #29394E;
	margin-left: 5px;
	font-size: 12px;
}
.adr-desc{
	/*font-weight: bold;*/
	color: #788996;
	margin-left: 15px;
	font-size: 12px;
}
.hour li{
	padding: 3px 0px;
	list-style: none;
	border-bottom: 1px dashed #CCCCCC;
}
.price{
	color: red;
	font-size: 11px;
}
#pagination li{
	list-style: none;
	text-align: center;
	padding: 0px;
}
#pagination{
	
	padding: 0px;
}
.promo_title{font-size: 11px; color: black; font-weight: bold;}
.blog_name{
	float: left;
	width: 130px;
}
.promo_img{
			width: 100%;
			padding: 2px;
			border:1px solid #CCCCCC;
			}
.p_title{
		padding: 0 !important;
		color: white;
		font-weight: bold;
	}
.p_wrap{
	padding: 0px 3px 0px 3px;
	/*border:1px solid #CCCCCC;*/
	border-bottom: none;

}
#pg a{
	border: 1px solid #CCCCCC;
	padding: 5px 10px;
	border-radius: 4px;
}
.list,.f_list{
	padding: 0px;
	margin-bottom: 0px;
	border-bottom: 1px solid #CCCCCC;
	/*margin-left: -3px;
	margin-right: -6px;*/
}
.list>li,.f_list>li{
	padding: 2px;
	border-right:1px solid #CCCCCC;
	list-style: none;
	padding: 2px;
	/*margin-top: 10px;*/
}

.p_img{
	width: 100%;
}
.details img{width: 100%;}
.details{
	padding: 0px;
}
.p_name{
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	padding: 0px;
}
.search_blog{
	padding: 10px 0px !important;
	background-color: #F2F1F1 !important;
	border:solid 1px #CCCCCC !important;
}
.search_blog label{
	color: #243344;
	font-size: 12px;
}
.s_title{
	font-size: 16px !important;
	color: #2B3441 !important;
	padding: 5px;
}
.search_blog .col-sm-12{
	padding: 2px 8px;
}
.btnsearch{
	padding: 8px;
	
	border:1px solid #CCCCCC;
	background-color: #24323F;
	color: white;
	text-align: center;
	border-radius: 4px;
	font-style: bold;
}
.btnsearch:hover{
	cursor: pointer;
	background-color: #262626;
}
.btnlogin{
	padding: 8px 0px;
	
	border:1px solid #CCCCCC;
	background-color: #D01819;
	color: white;
	text-align: center;
	border-radius: 4px;
	font-style: bold;
}
.btnlogin:hover{
	cursor: pointer;
	background-color: #262626;
}
.pagi{
	height: 20px !important;
}
.pagi:hover{
	cursor: pointer;
}
.sf_filter{
	text-align: center;
    padding-bottom: 5px;
}
.promotion{padding: 0px;}
#footer{background-image: url('.../../../../assets/site/image/f_bg.png');}