/*! normalize.css v1.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: "Segoe UI", "Lucida Grande", Tahoma;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a {
	color: #007dc6;
	text-decoration: none;
}
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */

p,
pre {
    margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */

q {
    quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */

q:before,
q:after {
    content: '';
    content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Address margins set differently in IE 6/7.
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */
 @font-face {
    font-family: "Segoe UI", "Lucida Grande", Tahoma;
    src: url(font/segoeui.ttf);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.option input, .radio input, 
.radio-expanded input, 
.radio-option input, 
.variants input, 
.visuallyhidden {
    border: 0 none !important;
    clip: rect(0px, 0px, 0px, 0px) !important;
    display: block !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}


.page-wrapper:after {
    height: 501px;
}
.page-wrapper:after {
    content: "";
    display: block;
}
.page-wrapper {
    min-height: 100%;
}
.header {
    height: 128px;
    position: relative;
    z-index: 2000;
}
.fullwidth {
    min-width: 1024px;
}
.header-primary:after, .header-primary:before {
    content: "";
    display: table;
}
.header-primary:after {
    clear: both;
}
.header-primary:after, .header-primary:before {
    content: "";
    display: table;
}
.header-primary {
    background: none repeat scroll 0 0 #f9f9f9;
    color: #ffc120;
    height: 110px;
    min-width: 1300px;
}
.container {
    margin: 0 auto;
    padding: 0 0px;
    position: relative;
    width: 1024px;
}
.container-responsive {
    max-width: 1366px;
    min-width: 1300px;
    /*width: auto;*/
}
.nav-customer {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0 10px 0;
	padding: 0 0 0 240px;
    text-align: left;
}

.nav-customer-list {
    margin: 0;
    padding: 0;
}
.nav-customer-list > li {
    display: inline-block;
    margin-right: 30px;
}
.flyout {
    display: inline-block;
    position: relative;
}
.dropdown-link {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0;
}
.flyout-toggle {
    position: relative;
    z-index: 2;
}

.dropdown-link:after {
    border-top-color: #ffc120;
    transform-origin: center 2px 0;
    transition: transform 0.3s ease 0s;
}
.chooser-option-current:after, 
.chooser-option:after, 
.dropdown-link:after, 
.dropdown:after {
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 0 0 5px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    width: 0;
}
.nav-customer .nav-customer-list-link:hover {
	color: rgb(255, 102, 0);
	opacity: 1;
}
.header-logo-button {
    float: left;
    width: 194px;
    margin-right: 32px;
}
.header-primary .dropdown-link, 
.header-primary a {
    font-weight: normal;
	font-size: 13px;
    font-family: "Myriad Pro", "Lucida Grande", Tahoma;
    color: #0c73ba;
}
.header-login .dropdown-link {
    color: #383838;
    font-size: 14px;
	font-weight: 500;
}
.nav-customer .wmicon {
	background-size: 20px auto;
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 22px;
	height: 22px;
	float: left;
    font-size: 14px;
    line-height: 15px;
    margin-right: 5px;
    vertical-align: text-bottom;
}
.nav-customer .wmicon-service {
	background-image: url("images/u63.png");
}
.nav-customer .wmicon-list {
	background-image: url("images/u51.png");
}
.nav-customer .wmicon-find {
	background-image: url("images/u55.png");
}
.nav-customer .wmicon-order {
	background-image: url("images/u61.png");
}
.logo {
    display: inline-block;
    height: 42px;
    vertical-align: middle;
    width: 100%;
}
.logo, .gicon-logo-header {
	background: url("images/u22.png") no-repeat 0 0;
}

.searchbar {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    float: left;
    height: 38px;
    overflow: hidden;
    position: relative;
    width: 740px;
}
.searchbar-inner {
    display: table;
    width: 100%;
}
.searchbar-inner > div {
    display: table-cell;
    height: 38px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.searchbar-select {
    border-right: 1px solid #d9d9d9;
    color: #444;
    padding-left: 5px;
    text-align: center;
    width: 76px;
    z-index: 1;
}
.searchbar-select .flyout {
    height: 100%;
}
.searchbar-select .dropdown {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    border-width: 0;
    display: inline-block;
    font-size: 15px;
    height: 37px;
    line-height: 37px;
    outline: 0 none;
    padding: 0 20px 0 10px;
    position: relative;
    text-align: left;
    color: #999999;
}
.searchbar-select .dropdown:after {
    display: block;
    position: absolute;
    right: 7px;
    top: 17px;
}
.chooser-option-current:after, 
.chooser-option:after, 
.dropdown:after {
    margin-left: 14px;
}
.chooser-option-current:after, 
.chooser-option:after, 
.dropdown-link:after, 
.dropdown:after,
.categories h2 a:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ec7e30 transparent transparent;
    border-image: none;
    border-right: 4px solid transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 0 0 5px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    width: 0;
}
.categories h2 a:after {
    border-width: 7px;
    top: 4px;
}
.searchbar-typeahead-input {
    margin-right: 78px;
}
.typeahead {
    height: 100%;
    width: 100%;
}
.searchbar-input {
    border: 0 none;
    /*font-size: 18px;*/
    height: 38px;
    padding: 0 0 5px 16px;
    width: 100%;
}
.searchbar-typeahead-submit {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.searchbar-typeahead-submit button {
    background-color: #ed7c30;
    border: 0 none;
    height: 38px;
    padding: 0;
    width: 78px;
}
.searchbar-typeahead-submit button .wmicon-search {
    background: url("images/u30.png") no-repeat 0 0;
	width: 25px;
	height: 20px;
	display: block;
	margin: 0 auto;
}
.header-meta:after, .header-meta:before {
    content: "";
    display: table;
}
.header-meta:after {
    clear: both;
}
.header-meta:after, .header-meta:before {
    content: "";
    display: table;
}
.header-meta {
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-left: 23px;
    width: 311px;
}
.header-cart {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 28px;
}
.header-cart .flyout {
    padding-left: 30px;
}
.header-cart span {
    background: none repeat scroll 0 0 #ed7c30;
    border-radius: 50%;
    color: #ffffff;
    font-size: 9px;
    font-weight: bold;
    left: 17px;
    padding: 2px 5px;
    position: absolute;
    top: -14px;
}
.header-cart b {
    font-size: 13px;
    padding-left: 34px;
}
.header-login {
    display: inline-block;
    height: 67px;
    margin: 0 2px;
    padding: 10px 15px;
    text-align: left;
    vertical-align: middle;
}
.header-login p {
	color: #383838;
	margin: 0;
    font-size: 14px;
}
.header-login.header-cart {
    background-image: url("images/u49.png");
    background-position:15px 20px;
    background-repeat: no-repeat;
    background-size: auto 18px;
    margin: 0 auto;
}
.header-login .p-information {
	float: left;
}

/*Left Sidebar*/

#left-sidebar {
    float: left;
    width: 17%;
    position: relative;
    padding-right: 15px;
}
#left-sidebar .categories {
    padding: 20px 15px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(163,153,163,1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(163,153,163,1);
    box-shadow: 1px 2px 5px 0px rgba(163,153,163,1);
}
#left-sidebar .categories.hoveraction h2 + ul.main-cat {
    display: none;
    z-index: 2;
}
#left-sidebar .categories.hoveraction h2:hover + ul.main-cat,
#left-sidebar .categories.hoveraction h2 + ul.main-cat:hover {
    background: #f3f3f3;
    display: block;
    left: 0;
    position: absolute;
    top: 40px;
    width: 216px;
}
.breadcrum {
    background: none;
    float: left;
    padding: 0 0 0 10px;
}
#left-sidebar .categories .breadcrum a,
#left-sidebar .categories .breadcrum span {
    font-weight: normal;
    font-size: 12px;
}
#left-sidebar .categories ul li > a {
    padding: 10px 0;
    display: block;
    font-weight: normal;
    line-height: 17px;
    font-size: 15px;
    font-family: "Myriad Pro", "Lucida Grande", Tahoma;
}
#left-sidebar .categories ul li > a:hover {
    background: #ffffff;
}
#left-sidebar .categories a {
    font-size: 13px;
    font-weight: 700;
}
#left-sidebar .categories h2 {
    margin: 0;
}
#left-sidebar .categories h2 a,.categories h2 a {
    padding: 0 0 0 20px;
    margin: 0;
    font-size: 20px;
    color: #1171b9;
    font-weight: normal;
    font-family: "Myriad Pro", "Lucida Grande", Tahoma;
    background: url(images/cate.png) no-repeat 0 3px;
    text-align: center;
    display: block;
}
.categories h3 {
    padding: 0;
    margin: 0;
}
.categories h3 a {
    color: #1171b9 !important;
    font-size: 12px;
    font-weight: normal;
}
#left-sidebar .categories ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#left-sidebar .categories a:hover + ul.first-child {
    display: block;
}
#left-sidebar .categories ul.first-child,
#left-sidebar .categories ul.first-sub-child {
    background-color: #ffffff;
    left: 215px;
    position: absolute;
    top: 0;
    width: 870px;
    padding: 10px 15px;
    display: none;
    z-index: 1;
}
#left-sidebar .categories ul.first-child:hover {
    display: block;
}
.categories ul.first-child li {
    float: left;
    width: 200px;
}
#left-sidebar .categories ul.first-child li a {
    color: #999999;
    font-size: 12px;
    padding: 7px 0;
}
#left-sidebar .categories ul.first-child li a:hover {
    color: #1171b9;
}
.categories ul.first-child ul li a {
    padding: 0;
}
#left-sidebar .categories > ul {
    padding: 0;
}
#left-sidebar .sub-cat {
    float: left;
    width: 100%;
}
#left-sidebar .sub-cat h3,
#left-sidebar .filter h3 {
    color: #999999;
    font-size: 16px;
    padding: 10px 0 0 15px;
    font-weight: bold;
}
#left-sidebar .categories .sub-cat a {
    color: #999999;
    font-size: 13px;
    padding: 6px 0 6px 20px;
}
#left-sidebar .categories .sub-cat > ul li {
    position: relative;
}
#left-sidebar .categories .sub-cat > ul li span {
    padding: 3px 20px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    color: #999999;
}
#left-sidebar .categories .sub-cat > ul li > a:hover {
    background: #6699ff;
    color: #ffffff;
}
#left-sidebar .categories .sub-cat > ul li:hover span {
    color: #ffffff;
}
#left-sidebar .sub-cat > ul li:hover .first-sub-child,
#left-sidebar .sub-cat .first-sub-child:hover {
    display: block;
}
#left-sidebar .categories .sub-cat .first-sub-child a:hover {
    background: none;
    color: #1171b9;
}
.categories .sub-cat .first-sub-child {
    max-width: 500px;
}
.categories .sub-cat .first-sub-child li {
    float: left;
    width: 200px;
}
#left-sidebar .filter {
    padding: 10px;
    font-size: 13px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
#left-sidebar .filter h3 {
    border-top: 1px solid #999999;
    padding-left: 10px;
    padding-bottom: 10px;
}
#left-sidebar .price-search input {
    width: 40px;
    height: 22px;
    padding: 5px;
    margin: 0 2px;
    border: 1px solid #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#left-sidebar .price-search input[type="submit"] {
    background: #1171b9;
    border: none;
    color: #ffffff;
    font-weight: bold;
    height: 22px;
    width: 35px;
    padding: 0;
}
#left-sidebar .price-search {
    padding-left: 10px;
}
#left-sidebar .price-list {
    padding: 15px 0 0 10px;
}
#left-sidebar .price-list ul li {
    margin: 0 0 15px 0;
}
#left-sidebar .checker span {
    width: 20px;
    height: 20px;
    border: 1px solid #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#left-sidebar .checker span.checked {
    background: #76c143 url(images/checkbox.png) no-repeat 0 0;
    border-color: #76c143;
}
.color-list {
    padding: 0 0 0 10px;
}
.color-list ul {
    float: left;
}
.color-list ul li {
    float: left;
    margin: 0 10px 10px 0;
}
.color-list ul li span {
    border: 1px solid #cfd9de;
    border-radius: 3px;
    display: block;
    margin: 0;
    padding: 2px;
}
.color-list input[type="button"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    border: none;
}
.color-list ul li span:hover {
    border: 1px solid #8ccb62;
}
.color-list .multi {
    background: #b9d34b;
}
.color-list .black {
    background: black;
}
.color-list .clear {
    background: none;
}
.color-list .white {
    background: #ffffff;
}
.color-list .blue {
    background: blue;
}
.color-list .red {
    background: red;
}
.color-list .brown {
    background: #a52a2a;
}
.color-list .gray {
    background: #808080;
}
.hero-banner {
    float: left;
    width: 83%;
}
.one-col {
    width: 100%;
}
.hero-banner ul,
.one-col ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu {
    background: #1171b9;
    padding-left: 10px;
}
.hero-banner #slider1_container {
    width: 100% !important;
}
.hero-banner #slider1_container .jssort11 {
	right: 4px !important;
	left: auto !important;
}
.menu ul li {
    float: left;
    font-size: 12px;
    padding: 10px;
    
}
.menu ul li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}
.menu ul li:hover a {
    color: #ff0000;
}

/*End Left Sidebar*/
/* Store home */
    .col-left {
        float: left;
        width: 17%;
    }
    .col-right {
        float: left;
        width: 83%;
    }
    .col-left h2 {
        background: #1171b9;
        color: #ffffff;
        font-size: 18px;
        font-weight: normal;
        line-height: normal;
        margin: 0;
        padding: 5px 0 5px 20px;
    }
    .col-inner {
        padding: 0 30px;
    }
    .col-right h3 {
        padding: 5px 0;
        margin: 0;
        font-weight: normal;
    }
    .col-right .item-list {
        display: flex;
        flex-flow: row wrap;
        padding: 20px 0 0 0;
    }
    .col-right .item-list .item {
        float: left;
        width: 17%;
        margin-left: 3%;
        margin-bottom: 60px;
    }
    .item-list .item  .thum {
        height: 150px;
    }
    .col-right .item-list .item img {
        max-width: 100%;
        max-height: 100%;
    }
    .item-list .item p {
        padding: 0;
        margin: 0;
        font-size: 13px;
    }
    .item a .stars i {
        width: 14px;
        height: 14px;
        background-size: 100% auto;
    }
    .item-list .item p span {
        color: #ff6600;
    }
    .store-category {
        padding: 20px;
        border: 1px solid #e4e4e4;
        border-top: none;
    }
    .store-category ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .store-category ul li {
        padding: 0 0 10px 0;
    }
    .store-category ul li a {
        color: #1171b9;
        font-size: 13px;
        display: block;
        background: url(images/plus.png) no-repeat -0 6px;
        padding: 0 0 0 20px;
    }
    .store-category ul li a.colap {
        background: url(images/minus.png) no-repeat -0 6px;
    }
    .store-category ul li ul {
        display: none;
        padding-top: 10px;
    }
    .store-category ul li ul li a {
        background: none;
        padding: 0 0 0 30px;
        color: #999999;
    }
    .store-category ul li ul li a:hover {
        color: #1171b9;
    }
/* end store home */

/*Best Sell Products*/

.zone {
    /*margin-top: 50px;*/
    position: relative;
    float: left;
    width: 100%;
}
.zone.categories-zone {
    width: 83%;
    margin: 0;
}
.zone.home-store {
    margin-top: 10px;
}
.tempo-module-header {
    /*margin: 0 40px 20px 0;*/
    padding: 5px;
    border-bottom: 2px solid #1071B9;
}
.align-left {
    text-align: left;
}
.tempo-module-heading {
	color: #222222;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    vertical-align: middle;
}
.standard-carousel {
    padding: 0 10px 0 17px;
}
.standard-carousel.chosen-by-kids {
    background: url("images/u2.png") no-repeat 0 0;
    display: block;
    height: 386px;
    width: 100%;
}
.standard-carousel.grey-background {
    background: #f2f8fd;
    display: block;
    width: 100%;
}

.carousel {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    z-index: 0;
}
.tile {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    display: inline-block;
    padding: 10px 0 5px;
    position: relative;
    vertical-align: top;
    width: 95%;
}
.zone.categories-zone .top-cat .tile,
.zone.categories-zone .top-story .tile {
    border: none;
} 
.zone.categories-zone h5 {
    color: #999999;
} 
.tile-section {
    display: block;
    padding: 0 9px;
}
.carousel .price,
.carousel .discription,
.carousel .rate {
    text-align: left;
	display: block;	
}
.carousel .price {
    color: red;
    padding-left: 10px;
    font-size: 16px;
    padding-bottom: 10px;

}
.carousel .discription {
	color: #333333;
	font-size: 13px;
	padding-bottom: 10px;
}
.zone.categories-zone .carousel .discription {
    text-align: center;
}
.zone.categories-zone .top-story .carousel .discription {
    text-align: left;
}
.customNavigation .btnsm {
    bottom: 70px !important;
    
}
.carousel-category-curated .items .tile .category-heading {
    font-weight: 600;
    height: 56px;
    line-height: 1.2;
    margin-bottom: 12px;
}
.customNavigation .btn {
    position: absolute;
    bottom: 144px;
    width: 46px;
    height: 46px;
    text-indent: -9999px;
    cursor: pointer;
    display: none;
}
.customNavigation .prev {
    background: url("images/prev28.png") no-repeat 0 0;
    left: 0;
}
.customNavigation .next {
    background: url("images/back28.png") no-repeat 0 0;
    right: 0;
}
/*End Best Sell Products*/

/*Spotlight*/

.spotlight {
    text-align: center;
}
.spotlight .items {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0 17px;
    width: 100%;
}
.spotlight .items li {
    float: left;
    display: inline;
}
.spotlight .items li.line-1 {
    margin-bottom: 50px;
}
/*Spotlight*/
/*product-page*/

.product-page {
    
}
.grid-padded > .col7 {
    float: left;
    width: 56.25%;
    margin-left: 2.0833333333333%;
    min-height: 10px;
}
.product-page h1 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -.02em;
}

.product-subhead-section {
    display: table-cell;
    padding-right: 15px;
    text-align: left;
    vertical-align: middle;
}
.stars {
    color: #d9d9d9;
    font-size: 0;
    line-height: 1;
}
.star {
    display: inline-block;
    zoom: 1;
    width: 18px;
    height: 18px;
    margin-left: 3px;
    background-repeat: no-repeat;
    font-style: normal;
    vertical-align: middle;
}
.star:first-child {
    margin-left: 0;
}
.glyphicon-star {
    color: #ffcc00;
}
.glyphicon-star-empty {
    color: #cacaca;
}
.star-empty {
    background: url("images/star-empty.svg") no-repeat 0 0;
}
.star-rated {
    background: url("images/star-rated.svg") no-repeat 0 0;
}
.star-partial {
    background: url("images/star-partial.svg") no-repeat 0 0;
}
.product-media {
    padding: 30px 0 0;
}
.product-alt-img-carousel {
    overflow: visible;
    height: 420px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.product-carousel-wrapper {
    overflow: hidden;
}
.product-thumbs {
    position: relative;
    max-height: 360px;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.product-thumbs li {
    margin: 0 0 15px;
}
.product-thumbs .product-thumb.active, 
.product-thumbs .product-thumb:hover {
    padding: 4px;
    border: 2px solid #76c143;
}
.Selector {
    display: block;
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.carousel a {
    cursor: pointer;
}
.pull-left {
    float: left;
}
.product-images {
    float: left;
}
.zoom {
    padding: 3px;
    border: 0;
    background: 0 0;
    color: #79b9e7;
    font-size: 20px;
}
.product-zoom-in {
    display: block;
}
.product-images-viewport {
    position: relative;
    display: inline-block;
    zoom: 1;
    overflow: hidden;
    width: 450px;
    height: 450px;
    margin-left: 20px;
}
.product-images .product-zoom {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 10px;
}
.wmicon-zoom {
    background: url("images/magnifier50.png") no-repeat 0 0;
    width: 19px;
    height: 20px;
    display: block;
    cursor: pointer;
}
.grid-padded>.col5 {
    float: left;
    width: 39.5833333333333%;
    margin-left: 2.0833333333333%;
    min-height: 10px;
}
.product-buying-table {
    position: relative;
    border: 1px solid #dfebed;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    float: left;
}
.product-buying-table-row-hero-price {
    padding: 10px 15px 15px 25px;
    position: relative;
    float: left;
}
.price-display {
    color: #007dc6;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 3px 10px 0 0;
}
.price-details {
    font-size: 12px;
    vertical-align: top;
    margin-top: 8px;
}
.price-details .price-fulfillment {
    border-left: 1px solid #fff;
}
.price-details .price-details-shipping {
    position: relative;
    float: left;
    margin-right: 23px;
    color: #007dc6;
}
.free-pickup-message, 
.free-shipping-message, 
.free-shipping-threshold-eligibile {
    font-size: 12px;
    font-weight: 600;
}
.product-offer-summary,
.price-details,
.price-display {
    width: 100%;
    float: left;
}
.product-controls {
    background-color: #f2f8fd;
}
.product-buying-table-row {
    float: left;
    padding: 20px 15px 15px 25px;
    position: relative;
    width: 100%;
}
.module>:first-child {
    margin-top: 0;
}
.product-controls-row {
    margin-top: 20px;
}
.product-controls-row .product-variant-row {
    padding-bottom: 15px;
}
.variant-label {
    display: block;
    margin-bottom: 10px;
    line-height: 1;
}
.label-bold {
    font-size: 16px;
    font-weight: 700;
}
.variant-label .variant-name {
    display: inline-block;
    zoom: 1;
    padding-left: 10px;
    font-weight: 400;
}
.variants {
    margin: 16px 0 0 -10px;
    padding: 1px;
    list-style: none;
    text-align: left;
}
.tab {
    width: 100%;
    float: left;
    margin-top: 16px;
}
.specification h3 {
    display: inline;
    font-size: 18px;
}
.specification table {
    width: 100%;
    margin: 34px 0;
}
.specification table tr td {
    padding: 4px 40px;
}
.specification table tr.highlight td {
    background: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}
.customer-view {
    width: 100%;
    float: left;
}
.customer-view .rate-lg {
    height: 115px;
    display: table;
    padding-top: 16px;
}
.customer-view .rate-lg .rate-left {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 30px;
}
.rate-lg i {
    font-size: 20px;
}
.rate-lg .rate-left .num-rate {
    padding-top: 10px;
}
.rate-detail {
    background: url("images/rate-detail.png") no-repeat 0 0;
    display: block;
    width: 160px;
    height: 115px;
    float: left;
}
.rate-detail ul {
    list-style: outside none none;
    margin: 5px 0;
    padding: 0 0 0 25px;
}

/*end product-page*/


/*End Footer*/

.footer {
    width: 100%;
    float: left;
    padding-top: 40px;
}
.footer .footer-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .footer-category .footer-links-column {
    width: 15%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 30px;
}
.footer .footer-category .footer-links-column h3 {
    font-size: 13px;
    color: #1171b9;
}
.footer .footer-category .footer-links-column .block-list {
    padding: 0;
}
.footer .footer-category .footer-links-column .block-list li {
    list-style: none;
    padding-bottom: 6px;
}
.footer .footer-category .footer-links-column .block-list li a {
    font-size: 13px;
    color: #333333;
}
.footer .footer-logo a {
    background: url("images/u318.png") no-repeat 0 0;
    background-size: 103px 19px;
    width: 103px;
    height: 19px;
    display: block;
    text-indent: -9999px;
}
.footer-copyright {
    background-color: #f2f8fd;
}
.footer-copyright p {
    line-height: 2.5;
    color: #333333;
    font-size: 13px;
    margin-bottom: 0;
}

/*End Footer*/
.jssort11 > div {
    top: 0 !important;
}
.blue-text {
    color: rgb(17, 113, 185);
}
.red-text {
    color: rgb(255, 0, 0);
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

* {
    box-sizing: border-box;
}
*::-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
}